@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,800');

html , body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    font-weight: 300;
}

#container {
    position: relative;
    margin: 5px;
}

#date-time {
    position: absolute;
    top: 0;
    right: 0;
}

#date-time .time {
    font-size: 60px;
    margin-bottom: 10px;
}

#date-time .date {
    font-size: 20px;
}

#weather {
    position: absolute;
    top: 0;
    left: 0;
}

#weather .weather-currently {
    margin-bottom: 20px;
}

#weather .weather-icon {
    font-size: 90px;
}

#weather .weather-temperature {
    font-size: 60px;
    margin-left: 20px;
}

#weather .weather-current-summary {
    font-size: 30px;
    margin-top: 20px;
}

#weather .weather-summary {
    font-size: 20px;
    max-width: 50%;
}
